.separator{
  width: 100%;
  border: dashed 0.5px rgb(126, 137, 147);
  margin: 10px 0 10px 0;

}
.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 150px;
    height: 95px;
  }
}

.header-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
  padding: 0;

  h4 {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.slider-row {
  display: flex;

  .editor-post-image-toggle {
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border: solid 1px rgb(126, 137, 147);
    width: 120px;
    height: 150px;
    margin: 0 10px 0 0;

    .slider-container-input {
      display: flex;
    }
  }
}